
.vscode/settings.json
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/Programacao-Python.iml
codes/rabisco.py
/codes/fan
codes/falhaTeste_2711.py
codes/coisa.py
codes/píton.py
codes/registroEscolar
